body {
    background-color: #F2E8CF;
    font-family: Cambria;
    margin: 0px;
}

p {
    padding: 1em;
}

#banner {
    background-color: #287271;
    border-bottom: 2px solid #222;
    font-weight: lighter;
    font-family: Helvetica;

    padding: 20px;
    width: 100%;
}

#banner #logo #title {
    font-size: xx-large;
    font-weight: lighter;
}

#banner a:any-link  {
    color: #111111;
    text-decoration-line: none;
}
#banner a:hover  {
    color: #111111;
    text-decoration-line: none;
    font-style: italic;
}

#landing {
    background-color: #E9C46A;
    border-top: 1px solid #E9C46A;
    border-left: 2px solid #222;
    border-right: 2px solid #222;
    width: 75%;
    margin: 0px auto;
}

.question {
    background-color: #2A9D8F;
    border-top: 1px solid #222;
    font-family: Helvetica;
    font-weight: bold;
    padding: 1em;
}

.answer {
    background-color: #8AB17D;
    border-bottom: 1px solid #222;
    padding: 2em;
}

.date {
    font-family: Consolas;
    font-style: italic;
    color: #111;
}

.blog_title {
    background-color: #F4A261;
    font-family: Helvetica;
    font-weight: bold;
    padding: 1em;
}

.blog_body {
    background-color:  #E9C46A;
    padding: 1em;
}

.secret {
    font-size: small;
}
.secret:hover {
    font-style: italic;
}

/*
Absolute is based on the lowest ancestor with a position attribute
 */